.footer {
  &__container {
    padding: 57px 400px 69px 400px;
    text-align: center;
    background: #1a1a1a;
  }
  &__text_a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #888888;
  }
  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
  }
}
