.hero {
  &__container {
    background-image: url(../../image/main_bg.png);
    background-size: cover;
    text-align: center;
    padding: 35px 0;
  }
  &__logo {
    width: 83px;
    height: 71px;
    margin-bottom: 9px;
  }
  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 50px;
  }
  &__title {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    color: #f9bf3b;
  }
  &__text2 {
    margin: 20px 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__poloska {
    width: 232px;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 25px;
  }
  &__text3 {
    margin-top: 22px;
    margin-bottom: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #ffffff;
  }
  &__text3-yellow {
    color: #f9bf3b;
    font-weight: 1000;
  }
  &__info {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__logo2 {
    margin-top: 5px;
    width: 34px;
    height: 23px;
  }
}
